body
  font-family: 'Open Sans', sans-serif

a
  color: #832f8e
  text-decoration: none;

#container 
  padding-left: 200px
  left: 0

#menu
  margin-left: -200px
  width: 200px
  position: fixed
  top: 0
  left: 200px
  bottom: 0
  z-index: 1000
  background: #393939
  overflow-y: auto
  -webkit-overflow-scroll: touch
  .pure-menu
    background: transparent
    border: none
  a
    border: none
  a:hover
    background: #4c4c4c
  .pure-menu-heading
    color: #808080
    border-color: #404040
  .title
    color: #bd3bce
    font-size: 120%
    text-transform: none
    text-align: center
#main
  width: 100%
  color: #4c4c4c
  .pure-g-r
    padding: 3em
  h1
    color: #393939
  button.purple
    background: #832f8e
    color: white
  
.hero
  text-align: center
  margin: 8em 0 3em
  h1,h2
    font-weight: 300
  h1
    font-size: 800%
    margin: 0
    padding: 0
    color: #832f8e !important
  h2
    font-size: 200% 

.docs
  hr
    border: 0
    height: 0
    border-top: 1px solid rgba(0, 0, 0, 0.1)
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
    margin: 40px 0